 body{
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.count{
    background-color: aliceblue;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

#heading{
    border: 1px solid black;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); 
    background-color: white;
    text-align: center;
    border-radius: 12px;
}

#inc{
    border: none;
    padding: 8px;
    background-color: aqua;
    border-radius: 12px;
}


